/* ==UserStyle==
@name           polytoria.com - 11/26/2021, 10:20:41 PM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("polytoria.com") {
    /* Thank you for using my theme! I'll be updating it frequently, feel free to change anything as you wish. */
    /* Some things might be overrided because of Polytoria's current Christmas/XMAS theme. */
    /* Made by Index on Polytoria. */
    
    /* UPDATE LOGS CAN BE FOUND HERE IN THE "NOTES" SECTION: https://userstyles.world/style/2182/polytoria-dark-mode */
    
    body, html {
        background-color: #111111;
    }
    
    .navbar {
        background-color: #191919;
        border-color: #292929;
    }
    
    hr, hr.dropdown-divider {
        border-color: #292929;
    }
    
    .header-body {
        border-bottom-color: #292929;
    }
    
    .card {
        background-color: #191919;
        border-color: #292929;
        /* box-shadow: 0 .75rem 1.5rem #191919; */
        box-shadow: none;
    }
    
    a, a:hover, a:focus, a.text-reset:hover *, a.text-reset:focus * {
        color: #ccc !important;
    }
    
    .form-control, .form-control:hover, .form-control:focus, .dropdown-menu {
        background-color: #191919;
        border-color: #292929;
    }
    
    .form-control::placeholder {
        /* color: #3e3e3e; */
        color: #ccc;
        text-shadow: none;
    }
    
    select.form-control, select.form-control:hover, select.form-control:focus, select.custom-select, select.custom-select:hover, select.custom-select:focus {
        background-color: #191919;
        border-color: #292929;
    }
    
    .header-pretitle {
        color: #555;
    }
    
    #poly-chat-toggler {
        background-color: #303030;
    }
    
    .navbar-vertical .nav-item a.nav-link, #topbar input#headerSearchDesktop::placeholder {
        color: #6f6f6f;
    }
    
    #topbar .input-group-prepend i {
        color: #6f6f6f;
    }
    
    .list-group-item {
        border-color: #292929;
    }
    
    .dropdown-item {
        color: #ccc;
    }
    
    .dropdown-item:hover {
        color: #fff;
    }
    
    .nav-pills .nav-link.active {
        background-color: #191919;
        border: 1px solid #292929;
    }
    
    small {
       color: #ccc !important;
    }
    
    .btn.btn-sm.btn-rounded-circle.btn-white, .btn.btn-sm.btn-rounded-circle.btn-white:hover, .btn.btn-sm.btn-rounded-circle.btn-white:focus {
        background-color: #0f0f0f;
        border-color: #292929;
    }
    
    .card-header, .table thead th {
        color: #fff !important;
        background: #0f0f0f;
        border-color: #292929;
    }
    
    .table thead th a {
        color: #fff !important;
    }
    
    .table td, .table th {
        border-color: #292929;
    }
    
    #postContentInput, #postContentInput:hover, #postContentInput:focus {
        background-color: #202020 !important;
    }
    
    #postContentInput::placeholder {
        color: #dbdbdb;
    }
    
    footer.border-top {
        border-color: #292929 !important;
    }
    
    .form-control.disabled, .form-control.disabled:hover, .form-control.disabled:focus, .form-control[disabled], .form-control[disabled]:hover, .form-control[disabled]:focus {
        background-color: #191919;
        border-color: #292929;
        color: #ccc;
    }
    
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        border-color: transparent transparent #292929;
    }
    
    .text-secondary, .text-muted {
        color: #474747;
    }
    
    .border {
        border: 1px solid #292929 !important;
    }
    
    .bg-light {
        background-color: #191919 !important;
    }
    
    p.small.text-muted, small.text-muted, ul.small.text-muted {
        color: #ccc !important;
    }
    
    .tooltip {
        background-color: #191919 !important;
        border-color: #292929 !important;
    }
    
    .modal-content {
        background-color: #161616;
    }
    
    .modal-header, .modal-footer {
        background-color: #0f0f0f;
    }
    
    button.close[data-dismiss="modal"], button.close[data-dismiss="modal"]:hover, button.close[data-dismiss="modal"]:focus {
        color: #fff;
    }
    
    /* REVERT STYLE FOR BLOG SUBDOMAIN (blog.polytoria.com) */
    body.home-template, body.post-template {
        background-color: #ffffff;
    }
    
    /* REVERT STYLE FOR SCRIPTING API DOCUMENTATION SUBDOMAIN (docs.polytoria.com) */
    html.js-focus-visible body {
        background-color: #ffffff;
    }
    
    /* REVERT STYLE FOR API DOCUMENTATION SUBDOMAIN (api.polytoria.com/docs/) */
    div.swagger-ui {
        background-color: #fafafa;
    }
    
    div.swagger-ui p, div.swagger-ui h1, div.swagger-ui h2, div.swagger-ui h3, div.swagger-ui h4, div.swagger-ui h5, div.swagger-ui a, div.swagger-ui a:hover, div.swagger-ui a:focus {
        color: #000 !important;
    }
}
